@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
body {
  margin: 0px 0px;
  font-family: "Work Sans", Arial, sans-serif;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.98);
}
.demo {
  background: transparent;
  color: white;
  border: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 19.2px;
  font-weight: 400;
  text-decoration: underline;
}
#top {
  width: 260px;
}
.menu {
  display: flex;
  list-style: none;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  font-family: Roboto, Arial, sans-serif;
  color: #ababab;
  cursor: pointer;
}
.menu-item {
  margin-right: 20px;
}
.drop-menu {
  display: none;
  width: 200px;
  margin-left: -40px;
  background-color: white;
}
.menu-item:hover .drop-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: #ababab;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.drop-menu-item {
  list-style: none;
  position: relative;
  left: -40px;
  padding-left: 5px;
}
.menu-item:hover {
  color: rgb(0, 179, 155);
}
.drop-menu-item:hover {
  color: rgb(0, 179, 155);
  background-color: #5992dd;
  width: 118%;
  color: white;
}
#About {
  margin-top: 100px;
  text-align: center;
}
h1 {
  font-size: 32px;
  font-weight: 100;
  color: #00b39b;
}
#About img {
  padding: 15px 0;
}
#About p {
  color: #807d7d;
  line-height: 24px;
  text-align: left;
  display: inline-block;
  width: 480px;
}
.ColorBlock {
  display: flex;
  justify-content: center;
  margin: 0px 50px;
  color: white;
}
.ColorBlock > div {
  background-color: #1b2734;
  width: 300px;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  height: 300px;
}
.ColorBlock > div:nth-of-type(1) {
  background: #00ccb1;
}
.ColorBlock > div:nth-of-type(2) {
  background: #3d83df;
}
#work {
  height: 580px;
  background: #d8f7f6 url(img/background.png) no-repeat bottom left;
}
.contenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-top: 30px;
}
.contenu > div:nth-of-type(1) {
  width: 400px;
}
.girdd {
  display: grid;
  grid: repeat(2, 260px) / auto-flow 210px;
}
.girdd > div {
  background-color: white;
  width: 200px;
  height: 250px;
  border-radius: 10px;
  text-align: center;
  font-size: small;
}
.girdd > div img {
  margin-top: 20px;
  width: 40px;
}
#contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}
#contact > div {
  margin: 20px;
  height: 300px;
  width: 268px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
#contact > div:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#contact > div img {
  width: 268px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.bleu_button {
  font-family: Roboto, Arial, sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 10px;
  background-color: #3d83df;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
.bleu_button:hover {
  background-color: #5992dd;
}
.title {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}
h3 {
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 31.2px;
  color: rgb(0, 179, 155);
}
.center {
  text-align: center;
  width: 500px;
  margin: auto;
}
#partner {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  vertical-align: top;
}
#partner h3 {
  margin-top: -20px;
  width: 200px;
}
.grille {
  display: grid;
  grid: repeat(2, 50px) / auto-flow 200px;
  grid-column-gap: 5px;
}
.grille img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  cursor: pointer;
}
.grille img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
}
